@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
}

body {
  position: relative;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT sans", sans-serif;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-light {
  background-color: #82b3d3;
}

.button-transparent {
  background-color: transparent;
}

.navigation-button {
  width: 160px;
}

.hero {
  text-align: center;
  color: #ffffff;

  background-color: #000000;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.page-text {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-full {
  background-color: #82b3d3;
}

.advantages-list-services .advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-services .advantages-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantages-text {
  margin: 0;

  color: #333333;
}

.advantages-item-full .advantages-text {
  color: #ffffff;
}

.search-button {
  display: block;
  width: 376px;
  margin: 0 auto;

  font-size: 20px;
  line-height: 36px;
}

.search-text {
  color: #333333;
}

.subscribe {
  padding: 70px 70px;

  text-align: center;
}

.subscribe-home {
  color: #ffffff;

  background-color: #94989b;
  background-image: url("../images/newsletter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-text {
  margin-bottom: 55px;

  color: #333333;
}

.subscribe-home .subscribe-text {
  color: #ffffff;
}

.subscribe-button {
  padding: 6px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

.footer-phone {
  display: block;
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.filter {
  padding: 35px 70px 68px;

  color: #ffffff;

  background-color: #94989b;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-page-title {
  margin: 0 0 7px;

  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  display: block;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.sorting-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-select {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

.hotels-item {
  padding: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotels-link {
  color: #000000;
  text-decoration: none;
}

.hotels-title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
}

.hotels-button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
}

.hotels-favorites-active {
  background-color: #7db54f;
}

.hotels-rating-text {
  font-size: 16px;
  line-height: 20px;
  color: #333333;

  background-color: #f2f2f2;
}

.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
}

.pagination-link-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: transparent;
}
